.img-container1 {
    height: 1.2rem;
}

.img-container1>img {
    height: 100%;
    width: 40px;
    margin: 2px 3px 10px;
    object-fit: contain;
    
}

.img-container2 {
    height: 1.5rem;
}

.img-container2>img {
    height: 100%;
    margin: 0px 3px;
}

.template {
    display: flex;
    align-items: center;
}